<a href="https://colab.research.google.com/github/BrentTyner/Data-Science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**



*   List popular data languages for Data Science
*   List commonly used libraries used by data scientists
*   Complete some arthemetic expressions in python

## Author:
Brent Tyner

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:



1.   Pandas
2.   ggplot
3.   Matplotlib

|Data Science Tools|
|------------------|
|GitHub|
|MySQL|
|Apache Airflow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
## This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by diving by 60

minutes = 200

minutes/60

3.3333333333333335